{% extends 'base.html' %}

{% block main %}
    <main class="flex-grow-1 m-3">
        <div class="container-xl" style="max-width: 800px">
            <div class="row mb-5">
                <div class="bg-white-op rounded p-4">
                    <h1>Data Types</h1>
                    <hr>
                    <p>
                        SADCO stores data from the south-eastern Atlantic Ocean, the south-western Indian Ocean and the
                        Southern Ocean, in a target area extending from 10°N to 70°S and 30°W to 70°E. Data is obtained
                        from local marine organisations, universities, the South African Weather Service, and from
                        international data sources.
                        <br>
                        The data includes:
                    </p>
                    <ul>
                        <li>
                            Hydrographic station data with vertical profiles of temperature, salinity, oxygen,
                            nutrients, etc. SADCO has about 326 300 stations since 1900.
                        </li>
                        <li>Instruments include CTD, MBT, XBT, bottles, ARGO floats.</li>
                        <li>
                            Surface weather reports from voluntary observing ships (VOS) including waves, wind, swell,
                            sea-surface temperature, etc. There are about 7.3 million reports with about 64 million
                            observations since 1660.
                        </li>
                        <li>Moored current meter and ADCP data since 1970.</li>
                        <li>Moored thermistor string data since 1990.</li>
                        <li>Underway ADCP data since 2000.</li>
                        <li>Automatic Weather Station data along the coast since about 1982.</li>
                        <li>Chemical data (in the water column, organic tissue and in sediment).</li>
                        <li>Underwater temperature recording (UTR) data since 1990.</li>
                        <li>Wave data from wave buoys since 1977.</li>
                    </ul>
                    <h5>Quality Control</h5>
                    <p>The quality control procedures for the various types of data are described in the
                        Newsletters.</p>
                    <br>
                    <ul>
                        <li>
                            <strong>Hydrographic stations:</strong> To conform with international checks, the QC flags
                            of the World Ocean
                            Database (WOD) were adopted, so that data obtained from the World Data Centre (WDC) could
                            be integrated almost seamlessly into the existing SADCO database. The QC process involves
                            three (3) groups of checks, namely checks of the <strong>station</strong> information,
                            checks of the
                            <strong>profiles</strong> and
                            checks of the <strong>subsurface observations</strong>. No flags are installed for the
                            station checks
                            (stations are either accepted – sometimes with small corrections - or rejected). For the
                            <strong>profile</strong> and <strong>observation</strong> checks, flags are allocated per
                            parameter (e.g. temperature,
                            salinity, nutrients) and the flags installed by SADCO are a subset of the WOD flags plus
                            a spike check. The variables that are checked are: depth, temperature, salinity, oxygen,
                            phosphate, silicate, nitrate, pH, dissolved inorganic carbon (DIC) and total chlorophyll.
                            For a more complete description, please see SADCO newsletter
                            <a href="{{ url_for('home.newsletter_download', year='2007', file_name='vol18no3.pdf') }}"
                               target="_blank">Vol. 18 No. 3 (August 2007)</a>
                        </li>
                        <li>
                            <strong>VOS:</strong> The World Meteorological Organisation quality control screens are used
                            on SADCO's VOS data. For a complete description, please see page 4 of
                            <a href="{{ url_for('home.newsletter_download', year='2002', file_name='vol13no2.pdf') }}"
                               target="_blank">Vol. 13 No. 2 (June 2002)</a> and
                            <a href="{{ url_for('home.newsletter_download', year='2002', file_name='vol13no3.pdf') }}">
                                Vol. 13 No. 3 (September 2002)</a>
                        </li>
                        <li>
                            <strong>Time series data:</strong> Automatic checking for time series data are checked
                            visually. Current
                            meter data are checked for the following: Metadata checks (latitude, longitude, institute,
                            date, time), broad range check, spikes, noisiness, sensor drift, visible gaps and/or
                            pre-deployment leaders or post-recovery trailers. Weather data are checked for the
                            following: Metadata checks (latitude, longitude, institute, date, time), broad range checks,
                            spikes, sensor drift, data gaps, data shift, sensor jammed. For a further description of the
                            criteria, please see SADCO newsletters
                            <a href="{{ url_for('home.newsletter_download', year='2008', file_name='vol19no4.pdf') }}"
                               target="_blank">Vol. 19 No. 4 (December 2008)</a> and
                            <a href="{{ url_for('home.newsletter_download', year='2010', file_name='vol21no1.pdf') }}"
                               target="_blank">Vol. 21 No. 1 (February 2010)</a>
                        </li>
                    </ul>

                    <p>
                        The Department of Environment, Forestry and Fisheries (DFFE), as the nominated disseminating
                        custodian of the historical Southern African Data Centre for Oceanography (SADCO) data, assumes
                        no responsibility, legal or otherwise regarding the use of this data. The historical Southern
                        African Data Centre for Oceanography (SADCO) data accessible through the
                        <a href="http://sadco.ocean.gov.za/">sadco.ocean.gov.za</a> portal were processed a long time
                        ago by various Principal
                        Investigators (PI). Some of these PIs have since retired or moved on and are no longer with the
                        National Department of Forestry, Fisheries and the Environment. The currently listed PIs on the
                        SADCO database might therefore not necessarily be the persons who collected, processed, and
                        archived the data. In addition, the historical data archived on SADCO was processed using older
                        standards which may not align with international best practices and the standards currently
                        adhered to by DFFE. As such the user assumes the entire risk related to the use of these data in
                        its current state and format. DFFE disclaims all warranties of the data whether expressed or
                        implied, including without limitation, any warranties of merchantability or fitness for a
                        particular purpose. For any concerns regarding the data held in the SADCO, the user may decide
                        to liaise with the listed PIs who will share their insight on the data quality, where possible.
                        It is also strongly recommended that the user liaises with the listed PIs regarding their
                        proposed projects to mitigate against duplication of research efforts.
                    </p>

                    <h5>Target Area</h5>
                    <img src="{{ url_for('.static', filename='images/sadco_targetarea.jpg') }}" class="mb-4"
                         style="width: 100%">
                </div>
            </div>
        </div>
    </main>
{% endblock %}

