{% extends 'base.html' %}

{% block web_title %}
    SADCO - History
{% endblock %}

{% block main %}
    <main class="flex-grow-1 m-3">
        <div class="container-xl" style="max-width: 800px">
            <div class="row mb-5">
                <div class="bg-white-op rounded p-4">
                    <h1>History</h1>
                    <hr>
                    <p>
                        Since the 1960s the Southern African Data Centre for Oceanography (SADCO) has performed the
                        role of curating, archiving and disseminating South African (and later Southern African) marine
                        data. The CSIR served as the database agency responsible for "archiving, extracting and
                        manipulating multi-disciplinary oceanographic information in the southern African region, in a
                        professional, cost-efficient and user-friendly way, to the satisfaction of its clients and for
                        the promotion of scientific and applied use of oceanographic data" until 2019.
                    </p>
                    <p>
                        Over the past decade, the marine research and development landscape has changed considerably.
                        With the South African government launching the Operation Phakisa Ocean Labs initiative to grow
                        the ocean economy, there is new impetus in marine data management and information systems.
                    </p>
                    <p>
                        The Department of Forestry, Fisheries and the Environment (DFFE), in collaboration with the
                        Department of Science and Innovation (DSI) started the process of developing a national Oceans
                        and Coastal Information Management System (OCIMS) for South Africa. The vision is to have an
                        interactive tool for improved decision-making, predictive modelling, research and public
                        information.
                    </p>
                    <h5>Central to the planned OCIMS capability is data.</h5>
                    <p>
                        In response to this need, the Oceans and Coastal Research Directorate of the Oceans and Coasts
                        Branch of the DFFE established the Marine Information Management System (MIMS). MIMS is intended
                        to provide a repository and archive for South and southern African marine and coastal data from
                        both monitoring and research efforts, and thus to provide a data module to support and service
                        OCIMS.
                    </p>
                    <p>
                        The SADCO Steering Committee recognised that without significant investment and dedicated
                        personnel, SADCO in its current form would not be able to serve the operational needs of MIMS or
                        OCIMS and the broader user community. Thus, the steering committee decided to transition SADCO
                        to a new database agency that can sustain its activities in the longterm and ensure that the
                        data already accumulated in SADCO continue to be curated, maintained, disseminated, and
                        preserved for the benefit of the nation and humanity.
                    </p>
                    <p>
                        The SADCO Steering Committee requested that DFFE:OCR propose to become the new database agency
                        for SADCO, capitalising on its investment in the MIMS. In collaboration with the South African
                        Environmental Observation Network (SAEON), DFFE:OCR wrote a proposal to become the database
                        agency for SADCO, retaining the core values under which SADCO was founded.
                    </p>
                    <p>
                        This proposal was accepted by the SADCO Steering Committee in May 2017 and the historical SADCO
                        database has since been redeveloped and all new data submitted into the MIMS.
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

