{% extends 'base.html' %}
{% from 'surveys.j2' import search_box, survey_type_icons %}

{% block main %}
    <main class="home-main-wrapper d-flex flex-grow-1 align-items-center justify-content-evenly">
        <div class="home-main-content">
            <div class="d-flex" style="height: 70vh">
                <div class="col-sm-8 m-auto d-flex">
                    <div class="row">
                        {{ survey_type_icons( survey_types ) }}
                        <div class="col-sm-1 mx-auto d-flex flex-column justify-content-end data-icon-button"
                             role="button"
                             onclick="window.location.href='{{ url_for('vos_surveys.index') }}';">
                            <img class="w-100" src="{{ url_for('.static', filename='images/noun-ship-6999820.png') }}">
                            <h5 class="mx-auto text-white font-weight-bold pt-1">Voluntary observing ships</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white-op">
                <div class="shadow-sm d-flex p-3 justify-content-center border-bottom">
                    <h4 class="m-0 mims-logo-color font-weight-bold">About</h4>
                </div>
                <div class="d-flex justify-content-around col-sm-8 mx-auto p-4">
                    <div style="width: 30em">
                        <p>
                            The Southern African Data Centre for Oceanography (SADCO) stores, retrieves and manipulates
                            multi-disciplinary marine information from the areas around Southern Africa.
                        </p>
                        <p>
                            SADCO has been in existence since the 1960's, and is now being hosted by the Department of
                            Forestry Fisheries and the Environment: Oceans and Coasts (DEA:OC) after previously having
                            been hosted by The Council for Scientific and Industrial Research (CSIR) South Africa. The
                            history of SADCO can be read <a href="{{ url_for('home.history') }}">here</a>.
                        </p>
                        <p>
                            All new data submitted to SADCO after March 2019 will be archived in the Marine Information
                            Management System (MIMS) and will not be published in SADCO.
                        </p>
                        <p>
                            Thank you to CSIR, Namibian Ministry for Fisheries and Marine Resources, South African
                            Environmental Observation Network and the South African Navy for their funding support up
                            until March 2019, and to the members of the steering committee that guided SADCO,
                            in particular the Chairs.
                        </p>
                    </div>
                    <div class="d-flex justify-content-between flex-column">
                        <div>
                            <h6>Chairpersons:</h6>
                            <p>
                                Nov 1998 to Nov 1999 — E Potgieter<br>
                                Nov 1999 to May 2006 — Chris Duncombe Rae<br>
                                May 2006 to May 2007 — Carl Wainman<br>
                                May 2007 to May 2010 — Raymond Roman<br>
                                May 2010 to May 2012 — Roy van Ballegooyen<br>
                                May 2012 to Nov 2013 — Juliet Hermes<br>
                                Nov 2013 to May 2016 — Wayne Goshen<br>
                                May 2016 to Nov 2016 — Carl Wainman<br>
                                Nov 2016 to Nov 2018 — Benita Maritz<br>
                            </p>
                        </div>
                        <div>
                            <h6>Managers:</h6>
                            <p>
                                Nov 1998 to May 2012 — Marten Grundlingh<br>
                                Dec 2012 to Apr 2015 — Roy van Ballegooyen<br>
                                May 2015 to Nov 2015 — Ursula von St Ange (Acting)<br>
                                Nov 2015 to Sep 2018 — Bjorn Backeberg<br>
                                Oct 2018 to Mar 2019 — Ursula von St Ange (Acting)<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
