{% extends 'base.html' %}
{% from 'surveys.j2' import render_survey_summary %}

{% block main %}
    <main class="flex-grow-1 m-3">
        <div class="container-xl">
            <div class="row mb-5">
                <div class="col px-2">
                    {{ render_survey_summary(survey) }}

                    {% if self.survey_details() | trim %}
                        <div class="mt-2 bg-white-op p-2 rounded">
                    {% endif %}

                    {% block survey_details %}
                    {% endblock %}

                    {% if self.survey_details() | trim %}
                        </div>
                    {% endif %}
                </div>
                <div class="stations-map-wrapper col bg-white-op p-2 rounded" style="height: fit-content">
                    <p class="fw-bold mb-2">
                        Stations
                    </p>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% set N, E, S, W = survey.lat_north, survey.long_east, survey.lat_south, survey.long_west %}
    {% if N is not none and E is not none and S is not none and W is not none %}
        <script>
            createStationsMap({{ survey.stations | tojson }}, {{ N }}, {{ E }}, {{ S }}, {{ W }});
        </script>
    {% endif %}
{% endblock %}

