body {
    background-image: var(--home-background-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.stations-map-wrapper {
    margin-top: 2.5em;
}

.survey-details-wrapper {
    border-radius: 0 0.2em 0.2em 0.2em;
}

.bg-white-op {
    background-color: rgba(var(--bs-white-rgb), 0.95) !important;
}

.font-weight-bold {
    font-weight: bold;
}

.accordion-row td:last-child::after {
    content: '';
    font-size: 0.8rem;
    margin-top: 4px;
    float: right;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-top: 2px solid lightgray;
    border-right: 2px solid lightgray;
    transform: rotate(135deg); /* Right-facing arrow */
    transition: transform 0.2s ease;
}

.accordion-row:not(.collapsed) td:last-child::after {
    margin-top: 8px;
    transform: rotate(-45deg);
}
