body {
    background-image: var(--home-background-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.stations-map-wrapper {
    margin-top: 2.5em;
}

.survey-details-wrapper {
    border-radius: 0 0.2em 0.2em 0.2em;
}

.bg-white-op {
    background-color: rgba(var(--bs-white-rgb), 0.95) !important;
}
