body {
    background-image: var(--home-background-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.stations-map-wrapper {
    margin-top: 2.5rem;
}