{% from 'content.j2' import render_info %}

{% macro nav_bar_items(
    current_user,
    survey_types
) %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04"
            aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor04">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home.index') }}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false">Data Access</a>
                <div class="dropdown-menu">
                    {% for survey_type in survey_types %}
                        <a class="dropdown-item"
                           href="{{ url_for('surveys.index', survey_type_code=survey_type['survey_type_code']) }}">
                            {{ survey_type['survey_type'] }} Data
                        </a>
                    {% endfor %}
                    <a class="dropdown-item" href="{{ url_for('vos_surveys.index') }}">VOS Data</a>
                    <a class="dropdown-item" href="{{ url_for('download_audit.index') }}">Download Audit</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('home.data_types') }}">Data Types</a>
                    <a class="dropdown-item" href="{{ url_for('home.users_guide') }}">User's Guide</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home.history') }}">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home.newsletters') }}">Newsletters</a>
            </li>
            {{ login_nav_item( current_user ) }}
        </ul>
    </div>
{% endmacro %}

{% macro login_nav_item(
    current_user
) %}
    {% if current_user %}
        {% if current_user.is_authenticated %}
            <li class="nav-item border-left border-light"><a href="{{ url_for('hydra.logout') }}" class="nav-link">
                Log out {{ current_user.email }}
            </a></li>
        {% else %}
            <li class="nav-item border-left border-light"><a href="{{ url_for('hydra.login') }}" class="nav-link">
                Log in
            </a></li>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro search_box(
    form,
    placeholder='Search a Survey ID'
) %}
    <form action="{{ url_for('surveys.search') }}" method="post">
        {{ form.csrf_token }}
        <div class="bg-white rounded-pill p-1 px-3 border border-secondary">
            <div class="input-group">
                {{ form.survey_id(
                    class='form-control bg-transparent border-0 shadow-none',
                    placeholder=placeholder,
                    autofocus=''
                ) }}
                <button type="submit" class="btn p-1">
                    &#128269;
                </button>
            </div>
        </div>
    </form>
{% endmacro %}


{% macro survey_result_list(
    surveys
) %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Project Name</th>
            <th scope="col">Station Name</th>
            <th scope="col">Platform Name</th>
            <th scope="col">Chief Scientist</th>
            <th scope="col">Institute</th>
            <th scope="col">Date Start</th>
            <th scope="col">Date End</th>
            <th scope="col">Survey Type</th>
        </tr>
        </thead>
        <tbody>
        {% for survey in surveys %}
            <tr class="table-row-action">
                <td>
                    <a href="{{ url_for('surveys.survey_detail', survey_type=survey['survey_type'].lower(), survey_id=survey['id'].replace("/", "-")) }}">
                        {{ survey['id'] }}
                    </a>
                </td>
                <td>{{ survey['project_name'] }}</td>
                <td>{{ survey['station_name'] }}</td>
                <td>{{ survey['platform_name'] }}</td>
                <td>{{ survey['chief_scientist'] }}</td>
                <td>{{ survey['institute'] }}</td>
                <td>{{ survey['date_start'] }}</td>
                <td>{{ survey['date_end'] }}</td>
                <td>{{ survey['survey_type'] }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endmacro %}


{% macro filter_panel(
    form,
    search_facets=[],
    filtered_facets=[],
    show_search=false,
    endpoint='.index',
    search_endpoint='surveys.search',
    allow_search_by_id=true
) %}
    {% set _ = kwargs.pop('page', none) %}

    <div class="accordion mb-2">
        {% for search_facet in search_facets %}
            <div class="accordion-item bg-white-op">
                <h5 class="accordion-header">
                    <button class="accordion-button
                    {% if not search_facet['query_key'] in filtered_facets %}
                        collapsed
                    {% endif %}
                    " type="button" data-bs-toggle="collapse"
                    data-bs-target="#{{ search_facet['title'] | replace(" ", "") }}">
                        {{ search_facet['title'] }}
                    </button>
                </h5>

                <div id="{{ search_facet['title'] | replace(" ", "") }}" class="accordion-collapse
                    {% if search_facet['query_key'] in filtered_facets %}
                        show
                    {% else %}
                        collapse
                    {% endif %}
                    ">
                    <div class="accordion-body overflow-auto" style="max-height:72vh">
                        {% for item in search_facet['items'] %}
                            <p class="card-text">
                                {% set query = dict(kwargs) %}
                                {% set code =  item['code'] | string() %}

                                {% if query.get(search_facet['query_key']) == code %}
                                    {% set _ = query.pop(search_facet['query_key']) %}
                                    <span class="fw-bold">{{ item['name'] }}</span>
                                    <a href="{{ url_for(endpoint, **query) }}" class="text-decoration-none fs-5">
                                        &#10005;
                                    </a>
                                {% else %}
                                    {% set _ = query.update({ search_facet['query_key']: code }) %}
                                    <a href="{{ url_for(endpoint, **query) }}" class="text-underline-hover">
                                        {{ item['name'] }}
                                        <span>({{ item['count'] }})</span>
                                    </a>
                                {% endif %}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <form action="{{ url_for(search_endpoint) }}" method="post" class="bg-white-op p-3 rounded">
        {{ form.csrf_token }}

        {% if show_search %}
            <div class="form-control p-0 pe-2 mb-4">
                <div class="input-group">
                    {{ form.q(
                        class='form-control bg-transparent border-0 shadow-none',
                        placeholder='Enter search terms...'
                    ) }}
                    <button type="submit" onclick="setFilter();" class="btn p-1">
                        &#128269;
                    </button>
                </div>
            </div>
        {% else %}
            {{ form.q(type='hidden') }}
        {% endif %}

        <input id="sort" name="sort" type="hidden" value="">

        {% if allow_search_by_id %}
            <div class="mb-4">
                <p class="fw-bold mb-2">
                    Filter by survey id
                </p>
                {{ form.survey_id.label(class='form-label') }}
                {{ form.survey_id(class='form-control mb-2', placeholder='#### / ####') }}
            </div>
        {% endif %}

        <div class="mb-4">
            <p class="fw-bold mb-2">
                Filter by location
            </p>
            <div id="map"></div>
            <small class="form-check mt-2">
                {{ form.exclusive_region(class='form-check-input') }}
                {{ form.exclusive_region.label(class='form-check-label') }}
            </small>
            {% for bound in 'n', 'e', 's', 'w' %}
                {{ form[bound](type='hidden') }}
            {% endfor %}
        </div>

        <div class="mb-4">
            <p class="fw-bold mb-2">
                Filter by date range
            </p>
            {{ form.after.label(class='form-label') }}
            {{ form.after(class='form-control mb-2') }}
            {{ form.before.label(class='form-label') }}
            {{ form.before(class='form-control mb-2') }}
            <small class="form-check">
                {{ form.exclusive_interval(class='form-check-input') }}
                {{ form.exclusive_interval.label(class='form-check-label') }}
            </small>
        </div>

        <button type="submit" onclick="setFilter();" class="btn btn-outline-primary btn-action"
                title="Apply filters" id="apply-filter">
            Apply
        </button>

        <button type="submit" onclick="clearSearchFilters();" class="btn btn-outline-primary btn-action"
                title="Clear filters">
            Clear
        </button>
    </form>
{% endmacro %}

{% macro render_survey_summary(
    survey
) %}
    {% set N, E, S, W = survey.lat_north, survey.long_east, survey.lat_south, survey.long_west %}

    <ul class="nav nav-tab" role="tablist">
        <li class="nav-item bg-white-op rounded-top" role="presentation">
            <div class="nav-link active">
                {% if survey.id %}
                    ID:
                    <span class="user-select-all">
                        {{- survey.id -}}
                    </span>
                {% else %}
                    No ID
                {% endif %}
            </div>
        </li>
    </ul>

    <div class="tab-content bg-white-op p-2 survey-details-wrapper">
        <div id="info" class="tab-pane fade show active" role="tabpanel">

            {% set props = ['Project Name', 'Station Name', 'Platform Name', 'Chief Scientist', 'Institute', 'Temporal Extent', 'Survey Type', 'Number of Station'] %}

            {% call(prop) render_info(record, properties=props, hide_id=True) %}
                {% if prop == 'Project Name' %}
                    <strong>{{ survey.project_name }}</strong>

                {% elif prop == 'Station Name' %}
                    {{ survey.station_name }}

                {% elif prop == 'Platform Name' %}
                    {{ survey.platform_name }}

                {% elif prop == 'Chief Scientist' %}
                    {{ survey.chief_scientist }}

                {% elif prop == 'Institute' %}
                    {{ survey.institute }}

                {% elif prop == 'Temporal Extent' %}
                    {{ survey.date_start }} to {{ survey.date_end }}

                {% elif prop == 'Survey Type' %}
                    {{ survey.survey_type }}

                {% elif prop == 'Number of Station' %}
                    {{ survey.stations | length }}

                {% endif %}
            {% endcall %}
        </div>
    </div>
{% endmacro %}

{% macro render_hydro_survey_detail(
    survey
) %}
    <p class="fw-bold mb-2 mx-2">
        Data Details
    </p>

    <table class="table table-hover table-bordered w-auto">
        <thead>
        <tr>
            <th scope="col">Data Type</th>
            <th scope="col">Record Count</th>
        </tr>
        </thead>
        <tbody>
        {% for data_type, data_type_detail in survey.data_types.items() %}
            {% if data_type_detail is not none %}
                <tr>
                    <td><strong>{{ data_type | title | replace("_", " ") }}</strong></td>
                    <td class="text-end">{{ data_type_detail.record_count }}</td>
                </tr>
                {% for sub_data_type, sub_data_type_detail in data_type_detail.items() %}
                    {% if sub_data_type != 'record_count' and sub_data_type_detail is not none %}
                        <tr>
                            <td>&ensp;{{ sub_data_type | title | replace("_", " ") }}</td>
                            <td class="text-end">{{ sub_data_type_detail.record_count }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        </tbody>
    </table>
{% endmacro %}


{% macro render_hydro_download(
    current_user,
    survey,
    form
) %}
    <form action="{{ url_for('surveys.hydro_download', survey_id=survey['id'].replace("/", "-")) }}"
          method="post">
        {{ form.csrf_token }}
        <div>
            <p class="fw-bold mb-2 mx-2">
                Data Download
            </p>
            <div>
                {{ form.data_type(class='form-select mb-2') }}
            </div>
            {{ download_button(current_user) }}
        </div>
    </form>
{% endmacro %}


{% macro render_currents_survey_detail(
    mooring_details
) %}
    <p class="fw-bold mb-2 mx-2">
        Mooring Details
    </p>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Depth</th>
            <th scope="col">Instr. No</th>
            <th scope="col">Parameters</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Interval</th>
            <th scope="col">Num Records</th>
            <th scope="col">QC</th>
        </tr>
        </thead>
        <tbody>
        {{ render_data_rows(mooring_details) }}
        </tbody>
    </table>
{% endmacro %}


{% macro render_survey_periods_detail(
    period_counts,
    survey_type
) %}
    <p class="fw-bold mb-2 mx-2">
        {{ survey_type | title }} Period Record Counts
    </p>

    <table class="table table-hover">
        <thead>
        <tr>
            {% for field, value in period_counts[0].items() %}
                <th scope="col">{{ field | title | replace("_", " ") }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {{ render_data_rows(period_counts) }}
        </tbody>
    </table>
{% endmacro %}


{% macro render_data_rows(
    data_object_list
) %}
    {% for data_object in data_object_list %}
        <tr class="table-row-action">
            {% for field, value in data_object.items() %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endmacro %}


{% macro render_generic_survey_download(
    current_user,
    survey,
    survey_type
) %}
    <form action="{{ url_for('surveys.' + survey_type + '_download', survey_id=survey['id'].replace("/", "-")) }}"
          method="post">
        <div>
            <p class="fw-bold mb-2">
                Data Download
            </p>
            {{ download_button(current_user) }}
        </div>
    </form>
{% endmacro %}


{% macro render_vos_survey_download(
    current_user
) %}
    <form action="{{ url_for('vos_surveys.download') }}"
          method="post">
        <div>
            <p class="fw-bold mb-2">
                Data Download
            </p>
            {{ download_button(current_user) }}
        </div>
    </form>
{% endmacro %}

{% macro download_button(
    current_user
) %}
    <span class="d-inline-block"
            {% if not current_user or not current_user.is_authenticated %}
          data-toggle="tooltip" title="Please login/sign up"
            {% endif %}
    >
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#download-popup"
                {% if not current_user or not current_user.is_authenticated %}
                disabled
                {% endif %}
        >
            Download &#x1f4e5;
        </button>
    </span>

    <div class="modal fade" id="download-popup" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Terms of use</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    {{ config.CATALOG_TERMS_OF_USE }}
                </div>
                <div class="modal-footer">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="accept-terms-of-use"
                               onchange="$('#download-btn').prop('disabled', !this.checked)">
                        <label class="form-check-label" for="accept-terms-of-use">
                            I agree to the terms of use
                        </label>
                    </div>
                    <button id="download-btn" type="submit" class="btn btn-primary" data-bs-dismiss="modal" disabled>
                        Download &#x1f4e5;
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro newsletter_download_links(
    newsletters_list
) %}
    {% for year, volumes in newsletters_list.items() %}
        <div>
            <h5>{{ year }}</h5>
            <div class="px-4">
                <ul>
                    {% for volume in volumes %}
                        {% for title, file_name in volume.items() %}
                            <li>
                                <a href="{{ url_for('home.newsletter_download', year=year, file_name=file_name) }}">{{ title }}</a>
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro survey_type_icons(
    survey_types
) %}
    {% for survey_type in survey_types %}
        {% set image_file_name = ( survey_type['survey_type'] | lower ) + '.png' %}
        <div class="col-sm-1 mx-auto d-flex flex-column justify-content-end data-icon-button"
             role="button"
             onclick="window.location.href='{{ url_for('surveys.index', survey_type_code=survey_type['survey_type_code']) }}';">
            <img class="w-100" src="{{ url_for('.static', filename='images/'+image_file_name) }}">
            <h5 class="mx-auto text-white font-weight-bold pt-1">{{ survey_type['survey_type'] }}</h5>
        </div>
    {% endfor %}
{% endmacro %}